@font-face {
	font-family: 'circular';
	src: url('../assets/CircularStd-Black.otf'); /* IE9 Compat Modes */
}
body {
	margin: 0;
	background-color: #eeeeee;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}
.logo {
	font-family: circular;
	margin: 0;
	font-size: 80px;
	position: absolute;
	top: 0;
}
.name {
	font-family: circular;
}
