/*if you're reading this i know it's a mess 👽💩🙈*/

html,
body {
	/*background-color: #F6F9FC;*/
	/*background-color: white;*/
	/*font-size: 1.4em;*/
	/*background: url('../images/bg1.jpg') no-repeat center fixed;*/
	/*background-size: cover;*/
	/*background: -webkit-linear-gradient(Gainsboro,wheat);
  background: -o-linear-gradient(Gainsboro,wheat);
  background: -moz-linear-gradient(Gainsboro,wheat);
  background: linear-gradient(Gainsboro,wheat);*/
	height: 100%;
}
#particles-js {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: white;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
.fa-codepen {
	font-size: 1.3em !important;
}
.button-info {
	padding-bottom: 0 !important;
}
#contact-button {
	position: absolute;
	right: 0;
	z-index: 1000;
	margin: 3.5% 7% 0px 0px;
	color: #90caf9;
	background: transparent;
	border: 2px solid;
	font-size: 1.35em;
	font-family: Noto Sans;
	font-weight: bolder;
	padding: 6px 15px 6px 15px;
	border-radius: 5px;
	/*border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;*/
	transition: 450ms ease;
	overflow: hidden;
	font-family: 'Avenir', 'Muli';
}
#contact-button:hover {
	color: white;
	border: 2px solid #42a5f5;
}
#contact-button:after {
	content: attr(data-text);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #42a5f5;
	font-family: Noto Sans;
	font-weight: bolder;
	transform: translate(0px, 40px);
	padding: 6px 15px 6px 15px;
	transition: 450ms ease;
	font-family: 'Avenir', 'Muli';
}
#contact-button:hover:after {
	transform: translate(0px, 0px);
}
.active {
	color: #42a5f5;
	transition: opacity .345s ease;
	transition-delay: .345s;
}
.inactive {
	color: #9fcef5;
}
.contact {
	font-family: Lora, monospace;
	font-size: 1.5em;
	width: 80%;
	margin: auto;
	color: white;
}
.container {
	position: absolute;
	width: 100%;
	align-self: center;
	top: 22%;
}
#name {
	color: white;
	font-family: 'Avenir', 'Muli';
	margin-left: 0;
	margin-right: auto;
	margin-left: auto;
	width: 75%;
	margin-bottom: 10px;
	transition: margin-left .5s ease-in-out;
	text-align: left;
}
#name span {
	/*border-bottom: 2px solid #bdbdbd;*/
	transition: color .5s ease;
}
.header {
	color: #9fcef5;
	transition: color .5s ease;
}
.bradley:after {
	content: '/';
	color: #6b7c93;
	padding: 0 10px;
}
.header.active {
	color: #42a5f5;
}
.header:hover {
	cursor: pointer;
	color: #42a5f5 !important;
}
#bio {
	line-height: 1.2;
	border-left: 10px solid #42a5f5;
	padding-left: 10px;
	width: 100%;
	max-width: 75%;
	position: absolute;
	margin: 0;
	font-size: 2.8em;
	color: #6b7c93;
	opacity: 1;
	/*transition: opacity 345ms ease-out;*/
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5vh;
	font-family: 'Avenir', 'Muli';
}
#dbc {
	font-family: 'Avenir', 'Muli';
	font-weight: 600;
}
#bio span {
	/*border-bottom: 1px solid #42a5f5*/
	text-decoration: underline;
	color: #42a5f5;
}
#bio span a {
	transition: color .2s ease;
}
#bio span a:visited {
	color: #42a5f5;
}
#bio span a:hover {
	color: #1976d2;
}
#portfolio {
	width: 100%;
	max-width: 75%;
	position: absolute;
	opacity: 0;
	/*transition: opacity .345s ease-out;*/
}
.portfolio-header {
	font-family: Avenir, Muli;
	margin-top: 0;
	color: #6b7c93;
	border-bottom: 3px solid #6b7c93;
}
#portfolio img {
	padding: 10px 0 0;
	width: 20%;
}
.job {
	display: flex;
	flex-direction: column;
}
.job .projects {
	padding-top: 10px;
	font-weight: bold;
}
.transdelay {
	transition: opacity .345s ease-out;
	transition-delay: .345s;
}
.notransdelay {
	transition: opacity .345s ease-out;
}
.wrapper {
	width: 75%;
	margin: auto;
}
#buttons {
	position: absolute;
	top: 25%;
	left: 1%;
	right: 1%;
	bottom: 25%;
}
#about {
	position: relative;
	/*top: 10%;*/
	height: 90vh;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 60px;
	background-color: white;
	box-shadow: -1px 0px 30px 7px rgba(50, 50, 93, .1);
	/*border-top: 2px solid #e3f2fd;*/
}
.fa {
	transition: color .3s ease-out;
}
.button-info {
	color: #424242;
	vertical-align: middle;
	font-size: 1.6em;
	font-family: Lora;
	padding: 15px;
}
.button-info:hover {
	cursor: pointer;
	color: #42a5f5;
}
.no-text-dec {
	text-decoration: none !important;
}
@media only screen and (max-width: 800px) {
	#bio {
		font-size: 2.5em;
	}
}
@media only screen and (max-width: 615px) {
	#bio {
		font-size: 2.3em;
	}
}
/*5*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
	.container {
		/*width: 100%;*/
		top: 15%;
	}

	#about {
		top: 1%;
		height: 90vh;
	}
	#name {
		margin-top: 15px !important;
		width: 100%;
		font-size: 1.6em;
	}
	.wrapper {
		width: 100%;
	}
	#bio {
		/*width: 100%;*/
		max-width: 90%;
		font-size: 1.6em;
	}
	#portfolio {
		max-width: 90%;
	}
	#contact-button {
		font-size: .9em;
		margin-top: 5%;
		margin-right: 5%;
	}
}
/*6*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	#about {
		top: 1%;
	}
	#nav {
		padding-left: 35px;
	}
	#nav li {
		padding: 40px 0px 15px 20px;
	}
	#name {
		margin-top: 15px !important;
	}
	#buttons {
		top: 24%;
	}
	#bio {
		font-size: 2em;
	}
	#contact-button {
		margin-top: 5%;
		margin-right: 5%;
	}
}
/*6+*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
	#about {
		top: 1%;
	}
	#nav {
		padding-left: 35px;
	}
	#nav li {
		padding: 40px 0px 15px 20px;
	}
	#name {
		margin-top: 15px !important;
		font-size: 2.3em;
	}
	#buttons {
		top: 25%;
	}
	#bio {
		font-size: 4.3vh;
	}
	#contact-button {
		margin-top: 5%;
		margin-right: 5%;
	}
}
/*galaxy s5*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
	#about {
		top: 1%;
	}
	#nav {
		padding-left: 35px;
	}
	#nav li {
		padding: 40px 0px 15px 20px;
	}
	#name {
		margin-top: 15px !important;
	}
	#buttons {
		top: 18%;
	}
	#contact-button {
		margin-top: 5%;
		margin-right: 5%;
	}
}
/*ipads*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#about {
		top: 12%;
	}

	#name {
		margin-top: 15px !important;
		width: 90%;
		font-size: 3.2em;
	}
	#bradley {
		font-size: 1.5em;
	}
	.container {
		top: 20%;
	}
	.work-cont {
		font-size: 1.2em;
	}
	#portfolio img {
		width: 25%;
	}
	.wrapper {
		width: 90%;
	}
	#bio {
		width: 90%;
		max-width: 90%;
		font-size: 3.35em;
	}
	#contact-button {
		font-size: 2em;
		margin-top: 5%;
		margin-right: 5%;
	}
	#contact-button:after {
		transform: translate(0px, 60px);
	}
	footer {
		height: 85px;
	}
}
/*ipad pro*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
	#about {
		top: 12%;
	}
	#name {
		margin-top: 15px !important;
		width: 90%;
		font-size: 4em;
	}
	#buttons {
		top: 12%;
		font-size: 2.5em;
	}
	#bio {
		font-size: 4.3em;
	}
	#contact-button {
		font-size: 2.7em;
		margin-top: 5%;
		margin-right: 5%;
	}
	footer {
		height: 115px;
	}
}
